<div class="wrapper">
  <section class="featured-meal" *ngIf="!mealsLoading() && meals().length > 0">
    <div class="featured-image-container">
      <img [src]="meals()[0].strMealThumb" [alt]="meals()[0].strMeal" class="featured-image" />
      <div class="featured-overlay">
        <div class="featured-content">
          <span class="featured-badge">85% of people would make this again</span>
          <h2 class="featured-title">{{ meals()[0].strMeal }}</h2>
        </div>
      </div>
    </div>
  </section>


  <section class="meals-section">
    <div *ngIf="mealsLoading()" class="loading">Loading meals...</div>
    <div class="meals-grid" *ngIf="!mealsLoading() && meals().length > 0">
      <div *ngFor="let meal of meals()" class="meal-card">
        <a [routerLink]="['/meal', meal.id]">
          <img [src]="meal.strMealThumb" [alt]="meal.strMeal" class="meal-image" />
          <h4 class="meal-title">{{ meal.strMeal }}</h4>
        </a>
      </div>
    </div>
    <div *ngIf="!mealsLoading() && meals().length === 0" class="no-meals">
      No meals found for this category
    </div>
  </section>
</div>